<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>42Pong - Ultimate Ping Pong Game</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="root"></div>

    {% block content %}
    
    
    {% endblock %}
    <div class="message" id="message-container" content="This is where the zoomer cyberbully each other">
      
    </div>
    <div>
      <input type="text" name="message_input" placeholder="enter" id="txt" onKeyPress=handleMessage(event)>
      <input type="button" name="button" value="send" onclick="sendMessage()" >
      <input type="button" name="button" value="disconnect" onclick="closeConnect()" >
      <input type="button" name="button" value="reconnect" onclick="openConnect()" >
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/spa/ajax.js' %}"></script>
    <script src="{% static 'js/app01/chat.js' %}"></script>
    <script>var nickname = "{{ request.user.profile.nickname }}";</script>
  </body>
</html>




